@import "mixins";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    height: 12vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    ul{
        list-style: none;
        display: flex;
    }
    
    li{
        margin-right: 2.5rem;

        a{
            text-decoration: none;
            color: grey;

            &:hover{
                color: red;
            }
        }
    }
}

$primary-color: #24e;

.text{
    color: $primary-color;
}
button{
    color: $primary-color;
    border: 2px solid $primary-color;

}

$redes: (
    twitter: #2d8ceb,
    facebook: #3a5795,
    send-mail: #c96a27,
);

@each $redsocial, $color in $redes {
    .btn--#{$redsocial} {
        background-color: $color;
        cursor: pointer;
        padding: 1rem 3rem;
    }
    
}